/* General */
html, body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}

@font-face {
    font-family: Moon B; 
    src: url("/fonts/Moon Bold.otf");
}
@font-face {
    font-family: Moon L; 
    src: url("/fonts/Moon Light.otf");
}
a {
	text-decoration: none;
}
	a:hover {
		text-decoration: none;
	}
h3 {
	font-family: Moon B;
}
/* Menu */
#nav {
	width: 200px;
	height: 100%;
	display: block;
	background-color: #2b2b2b;
	position: absolute;
	left: -200px;
	top: 0px;
	z-index: 10;
}
	#nav a {
		display: block;
		padding: 60px 30px 60px 30px;
		width: 140px;
		margin: 0 auto;
		text-align: center;
		text-decoration: none;
		color: white;
		text-transform: uppercase;
		font-family: Moon L;
	}
		#nav a:hover {
			background-color: #4b4b4b;
		}

.template-wrap {
	width: 100%;
	height: 100%;
	display: block;
	margin: 0 auto;
	position: absolute;
	padding: 20px;
	-webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
	.template-wrap div {
		text-align: center;
		margin: 0 auto;
	}
	#d-home, #user-history {
		top: 50px;
	}
	#d-order {
		top: 75px;
	}
	.home-form input {
		/*display: block;*/
		margin: 0 auto;
	}
	.input-fill {
		width: 250px;
	}
	.input-submit {
		display: block;
		margin-top: 10px !important;
	}
	.initial-form {
		width: 150px;
		text-align: center;
		padding: 50px;
		display: block;
		margin: 0 auto;
		margin-top: 25px;
		border: 1px solid #5671B1;
	}

#welcome {
	margin-bottom: 20px;
	font-family: Moon B;
}

.order-item {
	display: none;
}

/*************************/
.order-choice {
	padding: 30px;
	width: 250px;
	text-align: center;
	margin-bottom: 20px !important;
	opacity: 0.4;
}
	.order-choice h3 {
		text-align: center;
		color: white;
	}
	#hoot-bg {
		background-image: url("/hoot-1.jpg");
		opacity: 1;
	}
	#chaus-bg {
		background-image: url("/chaus-1.jpg");
	}
	.order-chaus {
		display: none;
	}
